h2 {
    color: purple;
}

h3 {
    color: purple;
}

h4 {
    color: purple;
}

a:link {
    color: black;
}

a:visited {
    color: purple;
}

table ul {
    margin-left: 20px;
    margin-right: 120px;
    padding: 0;
}

ul {
    margin-left: 5px;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat';
    margin: 5%;
    padding: 10px;
    padding-bottom: 20px;
}

#left_side {
    position: relative;
    min-height: 80%;
    float: left;
    width: 35%;
    border-right: solid 5px purple;
    padding-right: 5px;
}

#right_side {
    position: relative;
    float: right;
    width: 60%;
    min-height: 80%;
    padding-left: 5px;
}

.profile_name {
    line-height: 1em;
    padding: 5px;
    text-align: left;
}

.profile_name h2 {
    color: purple;
    text-align: center;
    line-height: 1.5em;
}

.profile_name img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

.icon img {
    float: right;
    width: 10%;
    padding: 5px;
    margin: 0px;
}

.icon2 img {
    float: right;
    width: 5%;
}

.icon3 img {
    padding: 5px;
    width: 50%;
}

.profile_name p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1em;
    font-style: italic;
    font-weight: 100;
}

.profile_contact {
    line-height: 1em;
    padding: 5px;
    text-align: left;
}

.profile_contact p {
    line-height: 2em;
}

.skills {
    line-height: 1em;
    padding: 5px;
    text-align: left;
}

.skills ul {
    line-height: 2em;
}

.right {
    float: right;
}

footer {
    padding-bottom: 125px;
}